body {
    background-color: #334257;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 3em;
    color: #EEEEEE;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#player-labels{
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    color: #EEEEEE;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 0em;
}

#selection {
    height: 10em;
    width: 10em;
    background-color: #476072;
    color:#EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-display {
    width: 10em;
    height: 10em;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #548CA8;
    color:#EEEEEE;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

button {
    margin-left: 1em;
    margin-right: 1em;
}

#rock, #paper, #scissors {
    height: 3em;
    width: 6em
}


